@import "~bootstrap/scss/bootstrap";

.boton {
  background-color: aqua;
  padding: 5px 10px;
  display: inline;
  cursor: pointer;
}

.boton:hover {
  background-color: blue;
  color: white;
}


.mi-contenedor {
  max-width: 600px;
  width: 100%;
  margin: 5px auto;
}
